# Converting prices to returns

## How to do is...

1.import libraries

In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

2.Download the data and keep the adjusted close prices only:

In [2]:
df = yf.download('AMZN', start='2013-01-01', end='2023-12-31', progress=False)

df = df.loc[:,['Adj Close']]
df.rename(columns={'Adj Close':'adj_close'}, inplace=True)

3.Convert adjusted close prices to simple and log returns

In [3]:
df['simple_rtn'] = df.adj_close.pct_change()
df['log_rtn'] = np.log(df.adj_close/df.adj_close.shift(1))

4.Inspect the output

In [4]:
df.head()

            adj_close  simple_rtn   log_rtn
Date
2013-01-02    12.8655         NaN       NaN
2013-01-03    12.9240    0.004547  0.004537
2013-01-04    12.9575    0.002592  0.002589
2013-01-07    13.4230    0.035925  0.035295
2013-01-08    13.3190   -0.007748 -0.007778