# Financial Data and Processing

## Getting data from Yahoo Finance

In [1]:
import pandas as pd
import yfinance as yf

2.Download the data

In [2]:
df_yahoo = yf.download('AMZN', start='2013-01-01', end='2023-12-31', progress=False)

3.Inspect the data

In [3]:
print(f'Download {df_yahoo.shape[0]}) rows of data')

df_yahoo.head()

Download 2768) rows of data

               Open     High      Low    Close  Adj Close    Volume
Date
2013-01-02  12.8040  12.9050  12.6630  12.8655    12.8655  65420000
2013-01-03  12.8635  13.0440  12.8185  12.9240    12.9240  55018000
2013-01-04  12.8790  12.9900  12.8325  12.9575    12.9575  37484000
2013-01-07  13.1485  13.4865  13.1335  13.4230    13.4230  98200000
2013-01-08  13.3535  13.4490  13.1785  13.3190    13.3190  60214000